<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {%block css%}{%endblock%}
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/menu/">menu</a>
        <a href="/tables/">tables</a>
        <a href="/admin/">admin</a>
    </nav>
    <main>
        {%block content%}
        {%endblock%}
    </main>
</body>
</html>