{%extends 'base.html'%}
{%block title%}Tables{%endblock%}
{%block content%}
<h3>Tables:</h3>
    {% if tables.count %}
        <ul class="collapsible">
        {%for table in tables.all%}
            <li>
                <div class="collapsible-header">{{table.name}}, Table {{table.number}}</div>
                <div class="collapsible-body">
                    <div class="row">
                        {%if table.orders.count %}
                            {%for order in table.orders.all %}
                            <div class="card">
                                <div class="card-header">Seat: <span class="seat{{order.id}}">{{order.seat}}</span></div>
                                <div class="card-content">
                                    {%for item in order.items.all %}
                                        <p class="item{{order.id}}" id={{item.id}}>{{item.name}}</p>
                                    {%endfor%}
                                    <p>Subtotal: ${{order.subtot}}</p>
                                <div class="card-action">
                                    <button data-target="modal{{order.id}}" class="btn modal-trigger order-modal" id="{{order.id}}">Edit Order</button>
                                    <button class="btn"><a href="/tables/{{table.id}}/orders/{{order.id}}/delete">Delete Order</a></button>
                                </div>
                                </div>
                            </div>    
                            <div class="modal" id='modal{{order.id}}'>
                                <div class="modal-content">
                                    <h6>Edit Order</h6>
                                    <form action="/tables/{{table.id}}/orders/{{order.id}}/update" method="post" id="form{{order.id}}">
                                        {%csrf_token%}
                                        {{order_form.as_p}}
                                        <input type="submit" class="modal-close btn-flat" value="Update">
                                    </form>
                                </div>
                            </div> 
                            {%endfor%}
                        {% else %}
                            <p>No Orders</p>
                        {%endif%}
                        </div>
                        <h6>Subtotal: ${{table.subtot}}</h6>
                        <h6>Tax: ${{table.tax}}</h6>
                        <h5>Total: ${{table.bill}}</h5>
                        <p>Suggested Gratuity:</p>
                        <small>15%: {{table.grat15}}</small> | <small>18%: {{table.grat18}}</small> | <small>20%: {{table.grat20}}</small></br>
                        <button data-target="modalord" class="btn modal-trigger">Add Order</button>
                        <a href="" class="btn">Close Table</a>
                        <a href="/tables/{{table.id}}/delete" class="btn">Delete Table</a>
                        <div class="modal" id="modalord">
                            <div class="modal-content">
                                <h4>Add Order</h4>
                                <form action="/tables/{{table.id}}/orders/new" method="post">
                                    {%csrf_token%}
                                    {{order_form.as_p}}
                                    <input type="submit" class="modal-close btn-flat" value="Add Order">
                                </form>
                            </div>
                        </div>
                    </div>
            </li>
        {%endfor%}
        </ul>
    {%else%}
    <h4>No Tables</h4>
    {%endif%}
    <button data-target="modalbot" class="btn modal-trigger">Add Table</button>
    <div class="modal" id="modalbot">
        <div class="modal-content">
            <h4>Add Table</h4>
            <form action="/tables/new" method="post">
                {%csrf_token%}
                {{table_form.as_p}}
                <input type="submit" class="modal-close btn-flat" value="Add Table">
            </form>
        </div>
    </div>
    
{%endblock%}