{%extends 'base.html'%}
{%block title%}Table{%endblock%}
{%block content%}
<h3>Table</h3>
<div class="card">
    <div class="card-content">
        Table {{table.number}}, {{table.name}}, seated at {{table.dtg}}
        {%if table.orders.count %}
            {%for order in table.orders.all %}
                <div class="card">
                    <div class="card-content">
                        Seat: {{order.seat}}
                        {%for item in order.items.all %}
                            <p>{{item.name}}</p>
                        {%endfor%}
                    </div>
                </div>
            {%endfor%}
        {% else %}
            <p>No Orders</p>
        {%endif%}
    </div>
    <div class="card-action">
        <button data-target="modal1" class="btn modal-trigger">Add Order</button>
        <a href="" class="btn">Close Table</a>
    </div>
    <div class="modal" id="modal1">
        <div class="modal-content">
            <h4>Add Order</h4>
            <form action="/tables/{{table.id}}/orders/new" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" class="modal-close btn-flat" value="Add Order">
            </form>
        </div>
    </div>
</div>
{%endblock%}