html {
    height: 100%;
}
body {
    min-height: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row .card {
    margin: 10px;
}
.new-table {
    display: block;
}
.modal {
    height: 600px;
    background-color: #FFECB3;
}